body{
	text-align: center;
	font-family:Courier New, monospace;
	background:#ffece6;
}
.row{
	justify-content:center;
}
.cont1{
	background-image: url("../img/Accounting.jpg");
}
div {
	justify-content:center;
    text-align:center;
}
p{
	color:darkslategray;
	font-family:georgian;	
}

.hoop{
	text-shadow: 2px 2px green;
	color: red;
}
.line{
	text-shadow: 2px 2px green;
	color: orange;
}	
h1{
  text-decoration: underline;
  text-decoration-color: red;
}
.active {
  background-color:  red;
}
li a:hover {
  background-color: grey;
}

		


